# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. python
2. R
3. SQL

Objectives:
1. create a juoyternotebook
2. title
3. intro
4. list
5. arithmetic

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Plotly

| jupyter note book |
|----------------|
|  RStudio |
| Apache Hadoop |

Below are a few examples of evaluating arithmetic expressions in Python 
|result = 5 + 3 # result is 8 |
|-----------------------------|
|result = 10 - 4 # result is 6|
|result = 2 * 6 # result is 12 result = 7 / 2 # result is|
|3.5 result = 7 % 2 # result is 1|

This a simple arithmetic expression to mutiply then add integers

In [5]:
result=(3*4)+5
print(result)

17

his will convert 200 minutes to hours by diving by 60

In [6]:
hours = 200 // 60
restminutes = 200 % 60
print( f"{hours} hours and {restminutes} minutes")

3 hours and 20 minutes

## Author:
## Francisco